/* A COMPLETER */
.detournee{
text-decoration: underline;
}
.contandante{
font-weight: bold;
}

article h2, article h3, article h1{
   color : red;
}
.presentation{
    color : red;
}

ul {
    list-style: none;
}
#armes {
color: green;
}
article  img {
height: 1em;
}
aside > img {
height: 20vw;
}

